RESTCLIENTS_BOOK_DAO_CLASS='Live'
RESTCLIENTS_BOOK_HOST='http://www7.bookstore.washington.edu'
RESTCLIENTS_BOOK_VERIFY_HTTPS=False
RESTCLIENTS_BOOK_TIMEOUT={{ book_socket_timeout|default(5) }}
RESTCLIENTS_BOOK_POOL_SIZE={{ book_max_pool_size|default(10) }}
