RESTCLIENTS_BRIDGE_DAO_CLASS = 'restclients.dao_implementation.bridge.Live'
RESTCLIENTS_BRIDGE_BASIC_AUTH_KEY='{{ bridge_client_key }}'
RESTCLIENTS_BRIDGE_BASIC_AUTH_SECRET='{{ bridge_client_secret }}'
RESTCLIENTS_BRIDGE_HOST='{% if "bridge" in restclients.production|default(False) %}https://uw.bridgeapp.com:443{% else %}https://uwtest.bridgeapp.com:443{% endif %}'
RESTCLIENTS_BRIDGE_MAX_POOL_SIZE={{ bridge_max_pool_size|default(5) }}
