RESTCLIENTS_R25_DAO_CLASS = 'restclients.dao_implementation.r25.Live'
RESTCLIENTS_R25_HOST = 'https://webservices.collegenet.com'
RESTCLIENTS_R25_INSTANCE = 'washington'
RESTCLIENTS_R25_SSL_VERSION = 'TLSv1_2'
RESTCLIENTS_R25_BASIC_AUTH = '{{ r25_basic_auth|default(None) }}'
