RESTCLIENTS_CA_BUNDLE = '{{ base_dir }}/certs/ca-bundle.crt'
RESTCLIENTS_TRUMBA_SEA_DAO_CLASS='Live'
RESTCLIENTS_TRUMBA_BOT_DAO_CLASS='Live'
RESTCLIENTS_TRUMBA_TAC_DAO_CLASS='Live'

RESTCLIENTS_TRUMBA_SEA_HOST='https://www.trumba.com:443'
RESTCLIENTS_TRUMBA_BOT_HOST='https://www.trumba.com:443'
RESTCLIENTS_TRUMBA_TAC_HOST='https://www.trumba.com:443'
RESTCLIENTS_TRUMBA_SEA_VERIFY_HTTPS=False
RESTCLIENTS_TRUMBA_BOT_VERIFY_HTTPS=False
RESTCLIENTS_TRUMBA_TAC_VERIFY_HTTPS=False

RESTCLIENTS_TRUMBA_SEA_ID='{{ restclients_trumba_sea_id }}'
RESTCLIENTS_TRUMBA_SEA_PSWD='{{ restclients_trumba_sea_pswd }}'
RESTCLIENTS_TRUMBA_TAC_ID='{{ restclients_trumba_tac_id }}'
RESTCLIENTS_TRUMBA_TAC_PSWD='{{ restclients_trumba_tac_pswd }}'
RESTCLIENTS_TRUMBA_BOT_ID='{{ restclients_trumba_bot_id }}'
RESTCLIENTS_TRUMBA_BOT_PSWD='{{ restclients_trumba_bot_pswd}}'

RESTCLIENTS_TRUMBA_SEA_TIMEOUT={{ trumba_timeout|default(90) }}
RESTCLIENTS_TRUMBA_BOT_TIMEOUT={{ trumba_timeout|default(90) }}
RESTCLIENTS_TRUMBA_TAC_TIMEOUT={{ trumba_timeout|default(90) }}
RESTCLIENTS_TRUMBA_SEA_POOL_SIZE={{ trumba_max_pool_size|default(5) }}
RESTCLIENTS_TRUMBA_BOT_POOL_SIZE={{ trumba_max_pool_size|default(5) }}
RESTCLIENTS_TRUMBA_TAC_POOL_SIZE={{ trumba_max_pool_size|default(5) }}
